<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
    This is a sample application that will include an online IDE for web development, a version controll system for your projects, and communication between users.
</p>