<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me by email for suggestions: <a href="mailto:parad2000@hotmail.com">parad2000@hotmail.com</a>
  <br/><a href="https://github.com/ParisZX/project-Jynx">The project on Github</a>
</p>